* {
    margin: 0;
    padding: 0;
}

.color1 {
    background: linear-gradient(to right, black,orange);
}



.parent {
    position: absolute;
    float:center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



.loader {
    position: absolute;
    /* padding: 20px; */
    
}

.loaderhr {
    
    background-image: url('./images/clock.svg');
    background-repeat: no-repeat;
    /* background-color: #fff; */
    /* box-shadow: 120px 80px 40px 20px #0ff; */
}