
@keyframes loaderhr
{
    0%, 100% {
        transform:rotate(90deg);
    }
    50%{
        transform:rotate(270deg)
    }
    
    100%{
        transform:rotate(450deg); 
    }
}

.loaderhr
{
    width: 500px;
    height: 500px;
    /* border-radius: 50%; */
    /* border:10px solid yellow; */
    /* box-shadow: 0 0 10px yellow; */
}

.loaderhr:before
{
    width: 10px;
    height: 100px;
    position: absolute;
    content: ''; 
    left: calc(50%);
    top: calc(50%);
    background-color: red;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    transform-origin: top;
    animation:loaderhr 86400s linear infinite;
}




@keyframes loadermin
{
    0% {
        transform:rotate(180deg);
    }
    50%{
        transform:rotate(360deg)
    }
    
    100%{
        transform:rotate(570deg); 
    }
}

.loadermin
{
    width: 500px;
    height: 500px;
    /* border-radius: 50%; */
    /* border:10px solid yellow; */
    /* box-shadow: 0 0 10px yellow; */
}

.loadermin:before
{
    width: 5px;
    height: 150px;
    position: absolute;
    content: ''; 
    left: calc(50%);
    top: calc(50%);
    background-color: blue;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    transform-origin: top;
    animation:loadermin 3600s linear infinite;
}



@keyframes loadersec
{
    0% {
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg)
    }
    
    100%{
        transform:rotate(360deg); 
    }
}

.loadersec
{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    border:10px solid yellow;
    /* box-shadow: 0 0 10px yellow; */
}

.loadersec:before
{
    width: 2px;
    height: 150px;
    position: absolute;
    content: ''; 
    left: calc(50%);
    top: calc(50%);
    background-color: green;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    transform-origin: top;
    animation:loadersec 60s linear infinite;
}

@keyframes loaderminisec
{
    0% {
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg)
    }
    
    100%{
        transform:rotate(360deg); 
    }
}

.loaderminisec
{
    /* position: absolute; */
    left: 15%;
    top: 45%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border:5px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.loaderminisec:before
{
    width: 2px;
    height: 30px;
    position: absolute;
    content: ''; 
    left: calc(50%);
    top: calc(50%);
    background-color: yellow;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    transform-origin: top;
    animation:loaderminisec 1s linear infinite;
}

@keyframes loadermicrosec
{
    0% {
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(180deg)
    }
    
    100%{
        transform:rotate(360deg); 
    }
}

.loadermicrosec
{
    /* position: absolute; */
    right: 15%;
    top: 45%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border:5px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.loadermicrosec:before
{
    width: 2px;
    height: 25px;
    position: absolute;
    content: ''; 
    left: calc(50%);
    top: calc(50%);
    background-color: yellow;
    box-shadow: 0 0 10px white;
    border-radius: 4px;
    transform-origin: top;
    animation:loadermicrosec 60s linear infinite;
}


.loadermonth
{
    
    left: 30%;
    top: 25%;
    width: 200px;
    height: 60px;
    border-radius: 10%;
    border:5px solid yellow;
    box-shadow: 0 0 10px yellow;
}
#date {
font-size: 50px;
text-align: center;
}

.title{
    position: relative;
    background: black;
    color: white;
    text-align: center;
    justify-content: end;;
    font-size: 60px;
    width: 100vw;
    height: 70px;
}





