

@keyframes loader3 
{
    0% {
        transform: rotate(0deg);
    }
    50%,100%{
        transform: rotate(360deg);
    }
}

@keyframes loader3before 
{
    0%,50% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes loader3after 
{
    0%,50% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}


.loader3 {
    width: 100px;
    height: 150px;
    border: 5px;
    animation:loader3 2s ease infinite;
}

.loader3::before{
   position: absolute;
   content: '';
   width: 0;
   height: 0; 
   top: 0;
   left: 0;
   border-bottom: 50px solid green;
   border-right: 50px solid transparent;
   border-left: 50px solid transparent;
   animation:loader3before 2s ease infinite;
}

.loader3::after{
    position: absolute;
    content: '';
    width: 0;
    height: 0; 
    bottom: 0;
    left: 0;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 25%;
    animation:loader3after 1s ease infinite;

 }