

@keyframes loader8
{
    50%{
        transform:rotate(0deg)
    }
}


@keyframes loader8self
{
    0%, 100%{
        left: -300px;
        tranform:rotateY(0deg)
    }
    48%{
        left: 300px;
        transform:rotateY(0deg)
    }
    52%{
        transform:rotateY(180deg)

    }
    98%{
        left: -300px;
        transform:rotateY(180deg)
        
    }
}

.loader8 {
    width: 100px;
    height: 100px;
    animation: loader8self 6s linear infinite;

}

.loader8::before
{
    position: absolute;
    content: '';
    width: 100px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transform:rotate(-30deg);
    animation:loader8 0.5s ease infinite;
}

.loader8::after
{
    position: absolute;
    content: '';
    width: 100px;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform:rotate(30deg);
    animation:loader8 0.5s ease infinite;
    
}