.element3:hover .front 
{
    opacity: 0;
    transform:translateY(-400px) rotate(180deg);
}

.element3 .back-content 
{
    transform: translateX(-50px);
    opacity: 0;
    transition: all 1s ease;
}

.element3:hover .back-content
{
    transform: translateX(0px);
    opacity: 1;
}

.element3 .back::before
{
    position: absolute;
    content: '';
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 200px;
    bottom: 200px;
    right: 30px;
    left: 30px;
    transition: all 1s ease;
}

.element3 .back::after
{
    position: absolute;
    content: '';
    /* border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; */
    top: 30px;
    bottom: 30px;
    right: 200px;
    left: 200px;
    transition: all 1s ease;
}

.element3:hover .back::before
{
    top: 70px;
    bottom: 70px;
}

.element3:hover .back::after
{
    right: 0px;
    left: 0px;
}