.element7 .front 
{
    transform: rotateX(0deg);
    transform-origin: top;
}

.element7:hover .front
{
    transform: rotateX(180deg);
}

.element7 .back-content
{
    transform:scale(0);
    opacity: 0;
    transition: all 1s ease;
}

.element7:hover .back-content
{
    opacity: 1;
    transform:scale(1)
}