

.element6:hover .front
{
    transform: translateX(-100%)rotateY(720deg);
    opacity: 0;
}

.element6 .back
{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background:linear-gradient(to bottom right, blue, red)
}

.element6 .back-content .pname {
    transform: translateY(-30px);
    transition: all 1s ease;
    opacity: 0;

}

.element6 .back-content .description {
    opacity: 0;
    transition: all 2s ease;
}

.element6:hover .back-content .pname
{
    transform:translateY(0px);
    opacity: 1;
}

.element6:hover .back-content .description {
    opacity: 1;
}
